<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FeedBackManagement" connectionString="Data Source=DOTNET;Initial Catalog=FeedBackManagementSystem;uid=Outreach;pwd=Pass@769" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="URL" value="http://localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportTemplate" value="C:\inetpub\wwwroot\FeedbackManagementService\ReportTemplate\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ExportPath" value="C:\inetpub\wwwroot\FeedbackManagementService\ExcelReports\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>